{% extends 'council/index.html' %}
{% load static %}


{% block title %}

<title> Activities | City Council</title>

{% endblock title %}


{% block content %}
<section id="main-content">
  <section class="wrapper">


 <!--overview start-->
 <div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"><i class="fa fa-laptop"></i> Work Plans</h3>
    <ol class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="{% url 'council:index' %}">Home</a></li>
      <li><i class="fa fa-laptop"></i>Work Plans</li>
    </ol>
  </div>
</div>

    <!-- Basic Forms & Horizontal Forms-->

    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
            Work Plan
          </header>
          <div class="panel-body">
            <form role="form" action="{% url 'council:work-plans' %}" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-6">

              <div class="form-group">
                <label class="control-label col-sm-4">Week Starting</label>
                <div class="col-sm-6">
                  <input id="dp1" type="text" name="weekstarting" value="{% now 'SHORT_DATE_FORMAT' %}" size="16" class="form-control">
                </div>
              </div>
</div>
              <div class="col-lg-6">

              <div class="form-group">
                <label class="control-label col-sm-4">Week Ending</label>
                <div class="col-sm-6">
                  <input id="dp2" type="text" name="weekending" value="{% now 'SHORT_DATE_FORMAT' %}" size="16" class="form-control">
                </div>
              </div>
</div>
</div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="activity1">Activity </label>
                    <input type="text" name="activity1" class="form-control" id="activity1" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="worktobedone1">Work to be done </label>
                    <input type="text" name="worktobedone1"  class="form-control" id="worktobedone1" >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="activity2">Activity </label>
                    <input type="text" name="activity2" class="form-control" id="activity2" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="worktobedone2">Work to be done </label>
                    <input type="text" name="worktobedone2" class="form-control" id="worktobedone2" >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="activity3">Activity </label>
                    <input type="text" name="activity3" class="form-control" id="activity3" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="worktobedone3">Work to be done </label>
                    <input type="text" name="worktobedone3" class="form-control" id="worktobedone3" >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="activity4">Activity </label>
                    <input type="text" name="activity4" class="form-control" id="activity4" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="worktobedone4">Work to be done </label>
                    <input type="text" name="worktobedone4" class="form-control" id="worktobedone4" >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="activity5">Activity </label>
                    <input type="text" name="activity5" class="form-control" id="activity5" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="worktobedone5">Work to be done </label>
                    <input type="text" name="worktobedone5" class="form-control" id="worktobedone5" >
                  </div>
                </div>
              </div>
              
              <button type="submit" class="btn btn-primary">Save</button>
            </form>

          </div>
        </section>
      </div>
    </div>
 
    <!-- page end-->
  </section>
</section>
  {% endblock content %}
