{% extends 'council/index.html' %}
<!-- {% load crispy_forms_tags %} -->
{% load static %}


{% block title %}

<title> Activities | City Council</title>

{% endblock title %}


{% block content %}
<section id="main-content">
  <section class="wrapper">


 <!--overview start-->
 <div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"><i class="fa fa-laptop"></i> Work Plans</h3>
    <ol class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="{% url 'council:index' %}">Home</a></li>
      <li><i class="fa fa-laptop"></i>Work Plans</li>
    </ol>
  </div>
</div>

    <!-- Basic Forms & Horizontal Forms-->

    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
            Weekly Perfomance Review Form
          </header>
          <div class="panel-body">
            <form role="form" action="/work-plans/" method="POST">
              {% csrf_token %}
{{form.as_p}}
              <button type="submit" class="btn btn-primary">Save</button>
            </form>

          </div>
        </section>
      </div>
    </div>
 
    <!-- page end-->
  </section>
</section>
  {% endblock content %}
