{% extends 'council/index.html' %}

{% load crispy_forms_tags %}


{% block content %}
<section id="main-content">
    <section class="wrapper">
  
  
            <!--overview start-->
            <div class="row">
              <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-laptop"></i> Activities</h3>
                <ol class="breadcrumb">
                  <li><i class="fa fa-home"></i><a href="{% url 'council:index' %}">Home</a></li>
                  <li><i class="fa fa-laptop"></i>Activities</li>
                </ol>
              </div>
            </div>

<form action="{% url 'activities:index' %}" method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <header class="panel-heading">
              Work Plan
            </header>
            <div class="panel-body">
              <form role="form" action="{% url 'council:index' %}" method="POST">
                <div class="row">
                  <div class="col-lg-6">
  
                <div class="form-group">
                  <label class="control-label col-sm-4">Week Starting</label>
                  <div class="col-sm-6">
                    <input id="dp1" type="text" name="weekstarting" placeholder="{% now 'SHORT_DATE_FORMAT' %}" size="16" class="form-control">
                  
                </div>
                </div>
  </div>
                <div class="col-lg-6">
  
                <div class="form-group">
                  <label class="control-label col-sm-4">Week Ending</label>
                  <div class="col-sm-6">
                    <input id="dp1" type="text" name="weekending" placeholder="{% now 'SHORT_DATE_FORMAT' %}" size="16" class="form-control">
                  </div>
                </div>
  </div>
  </div>
    {{form|crispy}}

    <h1>Other</h1>
    {{form3|crispy}}
    <!-- {{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.subject.errors }}
    <label for="{{ form.subject.id_for_label }}">Email subject:</label>
    {{ form.subject }}
</div>
<div class="fieldWrapper">
    {{ form.message.errors }}
    <label for="{{ form.message.id_for_label }}">Your message:</label>
    {{ form.message }}
</div>
<div class="fieldWrapper">
    {{ form.sender.errors }}
    <label for="{{ form.sender.id_for_label }}">Your email address:</label>
    {{ form.sender }}
</div>
<div class="fieldWrapper">
    {{ form.cc_myself.errors }}
    <label for="{{ form.cc_myself.id_for_label }}">CC yourself?</label>
    {{ form.cc_myself }}
</div> -->


    <input type="submit" value="Submit">
</form>

</section>
</section>

{% endblock content %}
